body {
  background-color: #531;
}


main {
  position: relative;
  width: 16em;
  margin: 0 auto;
}


select {
  width: 100%;
  margin: 2em 0;
}


div#display {
  position: relative;
  left: -1.5rem;

  background-color: #fd6;
  width: 100%;
  border-radius: 0.5em;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Geneva, Verdana, sans-serif;
  text-align: center;
}


h2 {
  background-color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 0.25em 0;
}


img {
  margin: 1em;
  border: 0.5em solid #fff;
  border-radius: 100%
}


h3 {
  border-bottom: 0.25rem solid #fff;
  margin: 0;
}


ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}


ul#stats li {
  display: flex;
  justify-content: space-between;
}

/* Create a gap between name and value for stats */
ul#stats li span:last-child{
  margin-left: 3em;
}
